terraform {
  backend "azurerm" {
    resource_group_name  = "replace-with-tfstate-resource-group"
    storage_account_name = "replacewithtfstateacct"
    container_name       = "tfstate"
    key                  = "honua/azure-aks/terraform.tfstate"
  }
}
